.card{
    border: 2px solid red;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
#name{
    color: rgb(209, 149, 29);
    font-weight: bolder;
}
body div label{
    margin-top:90px;
    text-align: center;
    font-weight: 90px;
}
#button{
    justify-content: center;
    color: rgba(255, 85, 0, 0.964);
}
#button1{
    background-color: rgb(47, 178, 21);
    border-radius: 15px;
    margin: 10px;
}
#button1:hover{
    background-color: rgba(16, 111, 13, 0.496);
}

#button2{
    background-color: rgb(39, 29, 29);
    border-radius: 15px;
}
#button2:hover{
    background-color: rgba(164, 126, 126, 0.591);
}